body[class*=mobile] .fjs-form-editor {
    flex-direction: column;
}

.fjs-form-container {
    min-width: 20dvw;
}

body[class*=mobile] .fjs-form-container {
    min-height: 20dvh;
}

body[class*=mobile] .fjs-palette-header,
body[class*=mobile] .fjs-palette-search-container,
body[class*=mobile] .fjs-palette-group-title {
    display: none;
}

body[class*=mobile] .fjs-palette-entries {
    gap: 3px;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

body[class*=mobile] .fjs-palette-fields {
    zoom: 0.75;
    gap: 3px;
}

body[class*=mobile] .fjs-palette-field {
    height: 60px;
    width: 60px;
}

body[class*=mobile] .fjs-palette-field-text {
    display: none;
}

body[class*=mobile] .fjs-empty-editor-card svg {
    display: none;
}
