@import 'tailwindcss';
@plugin 'daisyui';
@import '@react-barcode-scanner/components/dist/index.css';

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-600);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-share-tech);
  --font-heading: var(--font-share-tech);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 15px;
}

.bg-overlay {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: var(--font-share-tech);
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}

details summary::-webkit-details-marker {
  display:none;
}

/* there's a style declared inline on safari mobile that makes this block */
details.inline-flex::details-content {
  display: inline-flex;
}

@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
  details.inline-flex {
    display: block;
  }
}

.react-barcode-scanner-container {
  border-radius: var(--radius-2xl);
}

svg[data-name=nextstep-arrow] > #triangle {
  fill: white;
}

.dark-mode svg[data-name=nextstep-arrow] > #triangle {
  fill: black;
}

@media only screen and (hover: none) and (pointer: coarse) {
  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px;
  }
}

.collapse:has(>input:is([type="checkbox"]:checked)) > .collapse-title.collection-button > svg {
  transform: rotate(180deg);
}

.collapse:has(>input:is([type="checkbox"]:checked)) > .collapse-content.collapse-content.collapse-content {
  padding-bottom: 0.25rem;
}

@keyframes add-pulse {
  0% {
    border-width: 2px;
    opacity: 0.7;
    transform: scale(1.2);
  }
  50% {
    border-width: 3px;
    opacity: 0.5;
    transform: scale(1.4);
  }
  100% {
    border-width: 0;
    opacity: 0;
    transform: scale(1.7);
  }
}

.add-pulse {
  animation: add-pulse 1s 1;
}
