body.mobile .fjs-form-editor {
    flex-direction: column;
}

.fjs-form-container {
    min-width: 20dvw;
}

body.mobile .fjs-form-container {
    min-height: 20dvh;
}

body.mobile .fjs-palette-header,
body.mobile .fjs-palette-search-container,
body.mobile .fjs-palette-group-title {
    display: none;
}

body.mobile .fjs-palette-entries {
    gap: 3px;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

body.mobile .fjs-palette-fields {
    zoom: 0.75;
    gap: 3px;
}

body.mobile .fjs-palette-field {
    height: 60px;
    width: 60px;
}

body.mobile .fjs-palette-field-text {
    display: none;
}

body.mobile .fjs-empty-editor-card svg {
    display: none;
}

[data-field-type="expression"],
[data-field-type="filepicker"],
[data-group-id="presentation"],
[data-group-id="container"],
[data-group-id="action"] {
    display: none !important;
}