.App {
  text-align: center;
  padding: 20px;
}

.webcam-scanner-preview-box {
  max-height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.webcam-scanner-preview {
  position: relative;
  max-width: max-content;
  min-width: max-content;
  min-height: max-content;
}
.webcam-scanner-preview > canvas {
  position: absolute;
  left: 160px;
  top: 30px;
}
.webcam-scanner-preview > video {
  border: solid 1px #ccc;
  min-height: 300px;
  min-width: 640px;
}
.webcam-scanner-device-switcher {
  position: absolute;
  padding: 0 5px;
  border-radius: 3px;
  top: 5px;
  left: 10px;
  color: white;
  background-color: #ccc;
}

.barcode-display-input {
  width: max-content;
}

.bp4-form-group {
  padding: 10px calc(50vw - 300px);
}

.settings-switches {
  text-align: left;
}

.results-buttons-group {
  /*padding: 10px;*/
  text-align: left;
}
.results-buttons-group .bp4-popover2-target {
  padding: 5px 0;
}

.results-buttons-version-label {
  align-self: center;
  padding: 0 8px;
}

button.bp4-button > span > li {
  list-style: none;
  display: block;
}

.bp4-menu.bp4-menu.bp4-menu {
  max-width: 90vw;
}

.scanline {
  position: absolute;
  top: 30px;
  left: 160px;
  width: 320px;
  height: 1px;
  overflow: hidden;

  border-top: solid 3px #ff000099;

  animation-name: scanline;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.gameupc-button {
  margin-top: 5px;
}

img + img, button.gameupc-button + button.gameupc-button {
  margin-left: 10px;
}

@keyframes scanline {
  from { top: 30px; }
  to { top: 269px; }
}
